.container-fluid
  .row
    .col-xs-12
      %h1 Прайс-лист и описание продукции
  .row
    .col-xs-6
      .panel.panel-default
        .panel-body
          %table.table
            %tr
            %tr
              %th Назначение блока
              %td универсальный
            %tr
              %th Размер блока
              %td 20/30/40 см.
            %tr
              %th Позволяет строить стену толщиной
              %td 20/30/40см 
            %tr
              %th Вес
              %td 18 кг
            %tr
              %th Плотность
              %td 750 кг /м<sup>3</sup>
            %tr
              %th Теплопроводность
              %td 0,14 вт.
            %tr
              %th Прочность
              %td выдерживает давление 20 кг/см<sup>2</sup>
            %tr
              %th Морозостойкость
              %td 50 циклов
          %p
            Четкая геометрия. Блок плотный, однородный.
            В кубе 42 блока.
          %p
            Цена на самовывоз
            %strong 4500 руб за куб.
    .col-xs-6
      .panel.panel-default
        .panel-body
          %table.table
            %tr
              %th Назначение блока
              %td универсальный
            %tr
              %th Размер блока
              %td 20/20/50 см.
            %tr
              %th Позволяет строить стену толщиной
              %td 20/40 см.
            %tr
              %th Вес
              %td 15 кг
            %tr
              %th Плотность
              %td 750 кг/м<sup>3</sup>
            %tr
              %th Теплопроводность
              %td 0,14 вт.
            %tr
              %th Прочность
              %td выдерживает давление 20кг/см<sup>2</sup>
            %tr
              %th Морозостойкость
              %td 50 циклов
          %p
            Четкая геометрия. Блок плотный, однородный.
            В кубе 50 блоков.
          %p
            Цена на самовывоз
            %strong 4700 руб за куб.
    .col-xs-6
      .panel.panel-default
        .panel-body
          %table.table
            %tr
              %th Назначение блока
              %td строительство домов с бетонными перекрытиями
            %tr
              %th Размер блока
              %td 20/30/40 см.
            %tr
              %th Позволяет строить стену толщиной
              %td 20/30/40 см.
            %tr
              %th Вес
              %td 26,5 кг
            %tr
              %th Плотность
              %td 1100 кг/м<sup>3</sup>
            %tr
              %th Теплопроводность
              %td 0,21 вт.
            %tr
              %th Прочность
              %td выдерживает давление 100кг/см<sup>2</sup>
            %tr
              %th Морозостойкость
              %td 50 циклов
          %p
            Четкая геометрия. Блок плотный, однородный.
            В кубе 42 блока.
          %p
            Цена на самовывоз
            %strong 7400 руб за куб.
    .col-xs-6
      .panel.panel-default
        .panel-body
          %table.table
            %tr
              %th Назначение блока
              %td строительство домов с бетонными перекрытиями
            %tr
              %th Размер блока
              %td 20/20/50 см.
            %tr
              %th Позволяет строить стену толщиной
              %td 20/40 см.
            %tr
              %th Вес
              %td 22 кг
            %tr
              %th Плотность
              %td 1100 кг/м<sup>3</sup>
            %tr
              %th Теплопроводность
              %td 0,21 вт.
            %tr
              %th Прочность
              %td выдерживает давление 100кг/см<sup>2</sup>
            %tr
              %th Морозостойкость
              %td 50 циклов
          %p
            Четкая геометрия. Блок плотный, однородный.
            В кубе 50 блоков.
          %p
            Цена на самовывоз
            %strong 7700 руб за куб.
  .row
    .col-xs-10.col-xs-offset-1.alert.alert-warning.text-center
      ВНИМАНИЕ!  Мы продаём продукцию по предварительному заказу! Предоплата 50 процентов. Средний срок выполнения заказа - 1 месяц!
