.container-fluid
  .row
    .col-xs-12
      %h1 Доставка
  .row
    .col-xs-12
      %article
        Доставка производится за счёт клиента. Либо транспортом покупателя, либо транспортом третьих лиц, по согласованию с клиентом.
        Время и последовательность отправки согласовывается заранее и обычно включено в договор.

  .row
    .col-xs-12
      = link_to 'Адрес', '#', class: 'btn btn-flat'

