- content_for :article_name do 
  Строительство из блоков несъемной опалубки и сверхпрочного арболита
- content_for :article do
  %p
    В этой статье я хочу сравнить строительство из блоков несъемной опалубки и сверхпрочного арболита. 
  %p
    Для начала давайте посмотрим на то, что они собой представляют. В нашем случае несъемная опалубка это арболитовый блок с двумя пустотами.
    Одно отверстие заполнено утеплителем, второе остается свободным для последующего заполнения раствором.
    Сверхпрочный  арболит имеет большую плотность чем обычный и соответствует марке 1000 кг/м3 или 1100кг/м3.
    Толщина стены при использовании блоков несъемной опалубки 37-38 см.
    Необходимая толщина стены из арболита повышенной прочности для защиты от холода 40 см.
  %p
    Стена из блоков сверхпрочного арболита строится подобно стене из газосиликата, за исключением того,
    что не требует ни межрядового армирования, ни устройства армопоясов, ни несущих столбов для снятия нагрузки.
    Или скорее работу со сверхпрочным арболитом можно сравнить со строительством из кирпича, с той оговоркой что арболит в дополнительном утеплении не нуждается.
    И так со сверхпрочным арболитом все просто, взяли блоки и на небольшой слой раствора или плиточного клея уложили.
    Таким образом можно построить пятиэтажный дом с бетонными перекрытиями, ведь марка такого арболита М 100 и выше.
  %p
    А вот строительство из блоков несъемной опалубки требует внимательного подхода. Нельзя просто составить из блоков стену и потом пролить бетоном, поскольку это приведет к смещению блоков под давлением раствора и стена пойдет волной. Сперва блоки опалубки надо посадить на раствор и дать время схватиться. При этом нельзя поднять стену выше одного этажа. Теперь необходимо вставить арматуру в свободные отверстия и теперь заливать бетоном.
    Таким образом здесь мы имеем и больше действий и гораздо больше затрат. Стоимость работ, арматуры и бетона для заливки такова, что этот вид строительства следует выбирать только если у вас есть в нем опыт или от вас требует того сейсмическая опасность. И так,  конечная стоимость строительства из блока несъемной опалубки будет как минимум в два раза дороже чем из арболита повышенной прочности.
  %p
    По этой причине для частного строительства мы рекомендуем пользоваться арболитом повышенной прочности. Но если вы все таки остановили свой выбор на блоках несъемной опалубки, то  рекомендуем вам обращаться к тем строителям которые постоянно строят из блоков несъемной опалубки. Профессионалы не наделают ошибок которые потребуют от вас дополнительных затрат.
