- content_for :article_name do 
  Теплопроводность
- content_for :article do
  %p
    В этой статье я хочу рассмотреть такую важное свойство стройматериала как теплопроводность.
  %p
    Важно понять что испытания материалов на теплопроводность проводят в условиях совершенно не похожих на условия эксплуатации.
    И материалы с одинаковой теплопроводностью в лаборатории ведут себя совершенно по разному в построенном доме.
  %p
    К примеру можно сравнить газосиликат, арболит и древесину. Все три материала имеют очень сходные лабораторные показатели теплопроводности,
    но в реальности имеют другие показатели. В лаборатории эти материалы  проходят испытания идеальных условиях и в сухом виде.
    А вот находясь в стене дома ведут себя не одинаково.
  %p
    Газосиликат меняет теплопроводность на 5 процентов, с каждым процентом изменения влажности воздуха.
    Иначе говоря если влажность воздуха изменится на 10 процентов то теплопроводностью газосиликата ухудшится на 50 процентов.
    Если влажность изменится на 20 процентов (что не редкость) то теплопроводность газосиликата ухудшится в два раза!
    Причем влажность газосиликату придаёт не только воздух снаружи дома, но и воздух идущий изнутри дома на наружу.
  %p
    Теперь посмотрим как ведёт себя дерево в стене дома. Влажность воздуха сильно не меняет его теплопроводность. Слабое место дерева это стыки.
    Если бревно в самом широком месте хорошо защищает от холода, то в месте стыка оно узкое, и слабее защищает от холода.
    И самое холодное место это сам стык, который надо тщательно утеплить.
  %p
    Теперь посмотрим на арболит.  Арболит подобно дереву сильно не меняет теплопроводность из-за влажности.
    Слабым местом может быть плохая геометрия блока, из-за которой потребуется делать толстые швы, чтобы выровнить кладку, или брак создающий пустоты или уплотнения внутри блока.
    Но если арболит сделан качественно и правильно уложен в стену, то стена будет отличаться отличной защитой от холода или жары, в зависимости от времени года!
