%section#hero
  .row
    .col-xs-10.col-xs-offset-2
      %br/
      %h1.text-nowrap
        %span.text-primary эко
        %span АРБОЛИТ
      %h2
        %a.text-default.text-nowrap.tel{href: 'tel:+79209236009'} 8<span class="text-primary">&nbsp;(920)&nbsp;</span>923-60-09

%section#about
  .row
    .col-xs-12
      %h2
        Мы изготавливаем арболит с использованием мелкой щепы.
        %br/
        Без химических добавок.
      %p.lead Что это даёт?

%section#features
  .row
    .col-xs-6.feature
      %h2 РОВНЫЙ
      %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      %a.btn.btn-default.btn-sm(href="#") ПОДРОБНЕЕ
    .col-xs-6.feature
      %h2 ТЁПЛЫЙ
      %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      %a.btn.btn-default.btn-sm(href="#") ПОДРОБНЕЕ
    .col-xs-6.feature
      %h2 ПРОЧНЫЙ
      %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      %a.btn.btn-default.btn-sm(href="#") ПОДРОБНЕЕ
    .col-xs-6.feature
      %h2 ВЛАГОСТОЙКИЙ
      %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      %a.btn.btn-default.btn-sm(href="#") ПОДРОБНЕЕ
  .row.feature-primary
    .col-xs-12
      %h2 ЭКОЛОГИЧЕСКИ ЧИСТЫЙ
      %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      %a.btn.btn-default.btn-sm(href="#") ПОДРОБНЕЕ
  .row.feature-other
    .col-xs-12
      %h3 Другие преимущества нашего арболита
      %ul.list-unstyled.list-inline
        %li
          %a{ :href => "#" } НЕ ГНИЁТ
        %li
          %a{ :href => "#" } НЕ ТРЕСКАЕТСЯ
        %li
          %a{ :href => "#" } НЕ ДАЁТ УСАДКИ
        %li
          %a{ :href => "#" } ДЕРЖИТ ГВОЗДИ
        %li
          %a{ :href => "#" } ПРОСТ В РАБОТЕ
        %li
          %a{ :href => "#" } ЛЕГКО ПИЛИТСЯ

%section#cta
  %p.lead
    Вы заинтересованы или возникли вопросы?<br/>
    <small>Закажите обратный звонок.</small>
  %a.btn.btn-primary(href="#")
    %strong ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК

