%section#hero
  .row
    .col-xs-10.col-xs-offset-2
      %br/
      %h1.text-nowrap
        %span.text-primary эко
        %span АРБОЛИТ
      %h2
        %a.text-default.text-nowrap.tel{href: 'tel:+79209236009'} 8<span class="text-primary">&nbsp;(920)&nbsp;</span>923-60-09

%section#about
  .row
    .col-xs-12
      %h2
        Мы изготавливаем арболит с использованием мелкой щепы.
        %br/
        Без химических добавок.
      %p.lead Что это даёт?

%section#features
  .row
    .col-xs-12.col-md-6.feature
      %h2 РОВНЫЙ
      %p
        Правильные чёткие формы, которые требует ГОСТ и минимальные отклонения в размерах. Плохие
        формы приводят к тому, что при укладке блоков их невозможно положить ровно. Все неровности надо устранять при помощи большого
        количества раствора. Раствор в большом количестве делает стену холодной, ее надо дополнительно утеплять! Зачем же тогда вообще строить
        из арболита?

      %a.btn.btn-default.btn-sm(href=level_pros_path) ПОДРОБНЕЕ
    .col-xs-12.col-md-6.feature
      %h2 ТЁПЛЫЙ
      %p
        Крупная щепа не укладывается так хорошо как мелкая опилка, что приводит к высокой пустотности внутри блока и неоднородности его
        структуры. А ГОСТ допускает изменение в плотности блока не более 5 %, чего достичь при использовании крупной щепы невозможно. Высокая
        пустотность делает арболит продуваемым ветром. В результате его надо тщательно закрывать. Блок из мелких опилок однородный, и не продувается.

      %a.btn.btn-default.btn-sm(href=insulating_pros_path) ПОДРОБНЕЕ
    .col-xs-12.col-md-6.feature
      %h2 ПРОЧНЫЙ
      %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      %a.btn.btn-default.btn-sm(href=solid_pros_path) ПОДРОБНЕЕ
    .col-xs-12.col-md-6.feature
      %h2 ВЛАГОСТОЙКИЙ
      %p
        Чем крупнее щепа, тем менее водостойкий арболит. На крупную щепу влияет даже высокая влажность воздуха.
        Дерево вбирает влагу из воздуха, и расширяется. Чем крупнее щепа, тем больше расширение, сильнее внутренние напряжения и, в
        результате, рвутся цементные связи. Арболит из опилок устойчив к влаге, поскольку полностью минерализуется цементом.

      %a.btn.btn-default.btn-sm(href=waterproof_pros_path) ПОДРОБНЕЕ
  .row.feature-primary
    .col-xs-12
      %h2 ЭКОЛОГИЧЕСКИ ЧИСТЫЙ
      %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      %a.btn.btn-default.btn-sm(href=eco_pros_path) ПОДРОБНЕЕ
  .row.feature-other
    .col-xs-12
      %h3 Другие преимущества нашего арболита
      %ul.list-unstyled.list-inline
        %li
          %a(href=rot_free_pros_path) НЕ ГНИЁТ
        %li
          %a(href=crack_free_pros_path) НЕ ТРЕСКАЕТСЯ
        %li
          %a(href=shrink_free_pros_path) НЕ ДАЁТ УСАДКИ
        %li
          %a(href=fastenable_pros_path) ДЕРЖИТ ГВОЗДИ
        %li
          %a(href=simple_pros_path) ПРОСТ В РАБОТЕ
        %li
          %a(href=cuttable_pros_path) ЛЕГКО ПИЛИТСЯ

%section#cta
  %p.lead
    Вы заинтересованы или возникли вопросы?<br/>
    <small>Закажите обратный звонок.</small>
  %a.btn.btn-primary(href="#")
    %strong ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК

