%section#hero
  .row
    .col-xs-5.col-xs-offset-1
      %ul.hexagon-menu
        .hexagon-logo
        %li
          %div
            %a(href="#") Продукция
        %li
          %div
            %a(href="#") Статьи
        %li
          %div
            %a(href="#") Прайс
        %li
          %div
            %a(href="#") Доставка
        %li
          %div
            %a(href="#") Контакты
        %li
          %div
            %a(href=pros_path) Преимущества арболита
    .col-xs-6
      %br/
      %h1.text-nowrap
        %span.text-primary эко
        %span АРБОЛИТ
      %h2
        %a.text-default.text-nowrap.tel{href: 'tel:+79209236009'} 8<span class="text-primary">&nbsp;(920)&nbsp;</span>923-60-09

%section#wall
  %div.tower
  %div.tower
    %div.tower-golden-brick

  .brick.brick-0-0
    %a(href='#') НЕ ГОРИТ
  .brick.brick-0-1
    %a(href=crack_free_pros_path) НЕ ТРЕСКАЕТСЯ
  .brick.brick-1-1
    %a(href=rot_free_pros_path) НЕ ГНИЁТ
  .brick.brick-2-1
    %a(href=shrink_free_pros_path) НЕ ДАЁТ УСАДКИ
  .brick.brick-0-2
    %a(href=cuttable_pros_path) ЛЕГКО ПИЛИТСЯ
  .brick.brick-1-2
    %a(href=fastenable_pros_path) ДЕРЖИТ ГВОЗДИ
  .brick.brick-2-2
    %a(href=waterproof_pros_path) ВЛАГОСТОЙКИЙ
  .brick.brick-3-2
    %a(href=simple_pros_path) ПРОСТ В РАБОТЕ
  .brick.brick-0-3
    %a(href=insulating_pros_path) ТЁПЛЫЙ
  .brick.brick-1-3
    %a(href=level_pros_path) РОВНЫЙ
  .brick.brick-2-3
    %a(href=solid_pros_path) ПРОЧНЫЙ
  .brick.brick-3-3
    %a(href=pros_path) Dolor sit
  .brick.brick-3-4
    %a(href=pros_path) Dolor sit
  .brick.brick-2-4
    %a(href=pros_path) Dolor sit
  .brick.brick-1-4
    %a(href=eco_pros_path) ЭКОЛОГИЧНЫЙ
