- content_for :pro_name do 
  Поглощает шумы
- content_for :article do
  Арболит благодаря хаотичной структуре частиц, не проводит звуковых волн. Поэтому он хорош не только для внешних стен но и для внутренних перегородок!
