- content_for :pro_name do 
  Экономически выгодный
- content_for :article do
  %p
    Многие строительные материалы, можно сравнить с кашей из топора.
  %p
    Бабушка у вас топор есть? Кашу из него сварить! А крупы не найдется, а лучку добавить, соли, маслица?! И дальше по списку.
    Так изначально дешевый стройматериал из которого начато строительство в конце становится золотым!
    И многие строители так ловят своих заказчиков! Им не выгодно строить из арболита! Не надо армировать,
    не надо утеплять, не нужна мощная вентиляция! Заказчик заплатит только за то чтобы сложить стену!
  %p
    И, что может быть еще более важным, дом из арболита при отапливании будет обходиться в два три раза дешевле чем любой другой дом!
