- content_for :pro_name do 
  Не трескается
- content_for :article do
  Те кому приходилось иметь дело с газосиликатными блоками убедились в исключительной хрупкости этого материала.
  Уже на уровне доставки есть значительный процент боя. При строительстве газосиликат надо тщательно армировать.
  Арболит же очень крепок, не ломается при доставке, не трескается в стенах и не нуждается ни в каком армировании.
  Его трудно разбить даже кувалдой!
