- content_for :pro_name do 
  Легко пилится
- content_for :article do
  Наш арболит можно пилить ножовкой по дереву или металлу. А если нужно распилить много, то циркулярной пилой с небольшими зубьями или болгаркой.
