- content_for :pro_name do 
  Экологически чистый
- content_for :article do
  Древесина выделяет сахара. Сахара препятствуют схватыванию цемента. Поэтому производители используют
  соли различных кислот для подавления сахаров, минерализации древесины от гниения и ускорения процесса созревания продукции.
  В малых количествах эти соли в основном безвредны, но в соединении с цементом из них высвобождается кислотная составляющая,
  которая постепенно будет попадать в атмосферу дома. В стенах дома среднего размера может оказаться 200-300 кг таких солей.
  Вряд ли кто либо в здравом уме сознательно устроил бы у себя дома такой склад!
  Поэтому при производстве арболита мы используем только мелкую древесную щепу и высокосортный цемент.
  Мелкая древесная щепа полностью минерализуется цементом! Без всякой химии!
