- content_for :pro_name do 
  Держит гвозди
- content_for :article do
  Может быть не самое важное для для арболита свойство. Однако тот кто пробовал забить гвоздь в стену из которой гвоздь вываливается,
  вставал перед проблемой как повесить в доме полки, картину и прочее? И это очень не приятное открытие что стены вашего дома так не надежны!
  Так вот наш арболит держит гвозди и шурупы не хуже дерева и проблемы размещения мебели и домашней утвари не создает.
