- content_for :pro_name do 
  НЕ ГОРИТ
- content_for :article do
  Наш арболит абсолютно не горючий материал. Даже если его на протяжении нескольких часов подергать воздействию огня,
  он не загорится и не лопнет от воздействия температуры. В нем нет крупных кусков древесины которые могли бы
  выгореть изнутри и привести к разрушению всего блока.
