- content_for :pro_name do
  Арболит арболиту ― рознь!
- content_for :article do
  .row
    .col-xs-6.col-md-3.text-center
      %strong
        Арболит может быть таким.
    .col-xs-6.col-md-3.text-center
      %strong
        Может быть таким.
    .col-xs-6.col-md-3.text-center
      %strong
        Может быть таким.
    .col-xs-6.col-md-3.text-center
      %strong
        И может быть таким.
  .row#pros_photos
    .col-xs-6.col-md-3.text-center
      %img{src: image_path('pros-photo-1')}
      %br/
      %span Фото 1
    .col-xs-6.col-md-3.text-center
      %img{src: image_path('pros-photo-2')}
      %br/
      %span Фото 2
    .col-xs-6.col-md-3.text-center
      %img{src: image_path('pros-photo-3')}
      %br/
      %span Фото 3
    .col-xs-6.col-md-3.text-center
      %img{src: image_path('pros-photo-4')}
      %br/
      %span Фото 4
      %span ЭКО-Арболит
  .row
    %article.col-xs-12
      %h3 Как сделать правильный выбор? Что должно быть по ГОСТу?

      %p
        Первое и, наиболее очевидное — это правильные чёткие формы, которые требует ГОСТ и минимальные отклонения в размерах.
        Плохие формы приводят к тому, что при укладке блоков их невозможно положить ровно. Все неровности надо устранять
        при помощи большого количества раствора. Раствор в большом количестве делает стену холодной, ее надо
        дополнительно утеплять! Зачем же тогда вообще строить из арболита?
      %p
        Второе. По ГОСТу арболит на 95 % процентов состоит из мелких опилок размером от 2,5 мм до 10 мм.
        И только на 5 % из щепы, величина которой не превышает 4 см по длине и 1 см по толщине! Все расчеты
        теплопроводности арболита в ГОСТе сделаны из такого состава! Если арболит сделан полностью из крупной щепы,
        он будет обладать совсем другими свойствами, будучи более холодным.
      %p
        Арболит из крупной щепы пришел к нам из Европы, с ее более теплым, мягким климатом, он совсем не соответствует нашему ГОСТу,
        но зато требует от производителя меньших затрат цемента и его можно продавать дешевле, при этом получать большую прибыль.
      %p
        Крупная щепа не укладывается так хорошо как мелкая опилка, что приводит к высокой пустотности внутри блока и неоднородности
        его структуры. А ГОСТ допускает изменение в плотности блока не более 5%, чего достичь при использовании крупной щепы невозможно.
        Высокая пустотность делает арболит продуваемым ветром, если на него попадает вода, то она протекает через него насквозь.
        В результате его надо тщательно закрывать. Блок из мелких опилок однородный, не продувается и не пропускает воду.
      %p
        Третье и наиболее незаметное, но наиболее важное — теплопроводность. Чем крупнее щепа, из которой сделан блок, тем он холоднее. 
      .col-xs-6.text-center.lead
        Смотрите, вот так движется холод по мелким опилкам.
        %img.img-responsive{src: image_path("pros-cold-1.jpg")}
      .col-xs-6.text-center.lead
        А вот так он движется по крупной щепе.
        %img.img-responsive{src: image_path("pros-cold-2.jpg")}
      %p
        Помимо теплопроводности, есть еще и теплоемкость. Теплоемкость — это способность накапливать и отдавать тепло. Блок из мелких опилок
        более теплоемкий. Что это дает: если материал мало теплоемкий, то пока вы отапливаете помещение — тепло. Стоит только отключить
        отопление — сразу холодно. Если теплоемкость большая, то помещение сразу не остывает, и это стоит учитывать.
      %p
        В-четвертых: чем крупнее щепа, тем менее водостойкий арболит. На крупную щепу влияет даже высокая влажность воздуха. Дерево вбирает
        влагу из воздуха, и расширяется. Чем крупнее щепа, тем больше расширение, сильнее внутренние напряжения и, в результате, рвутся
        цементные связи. По этой причине арболит из крупной щепы стоит использовать там, где воздух не будет очень влажным. Арболит из опилок
        гораздо более устойчив к влаге, поскольку полностью минерализуется цементом.
      %p
        Пятое. Производители для обработки древесины от гниения и ускорения созревания арболита используют соли различных кислот.
        В небольших количествах эти вещества в основном безобидны. Однако на производство одного куба арболита идет 2-3 кг солей.
        Таким образом в стенах среднего по размеру дома может оказаться 200-300 кг солей. Взаимодействуя с цементом эти соли
        распадаются и из них высвобождается кислотный остаток, который постепенно будет выходить в атмосферу дома.
        Мы не используем химии для производства, поскольку мелкие опилки связываются с цементом полностью.
      %p
        Вот наверное и все, на что следует обратить внимание при выборе арболита.


