- content_for :pro_name do
  Арболит арболиту ― рознь!
- content_for :article do
  .row#pros_photos
    .col-xs-6.col-md-3.text-center
      %img{src: image_path('pros-photo-1')}
      %br/
      %span Фото 1
    .col-xs-6.col-md-3.text-center
      %img{src: image_path('pros-photo-2')}
      %br/
      %span Фото 2
    .col-xs-6.col-md-3.text-center
      %img{src: image_path('pros-photo-3')}
      %br/
      %span Фото 3
    .col-xs-6.col-md-3.text-center
      %img{src: image_path('pros-photo-4')}
      %br/
      %span Фото 4
      %span ЭКО-Арболит

