- content_for :pro_name do 
  Тёплый
- content_for :article do
  Чем более крупная щепа используется для производства арболита тем он холодей.
  Поэтому мы используем очень мелкие щепочки. Наш арболит по теплопроводности соответствует
  ГОСТу и по защите от холода превосходит дерево. Для дома средней величины
  достаточно толщины стены в 30 см, а для небольшого 20!

