- content_for :pro_name do 
  Ровный
- content_for :article do
  Наши блоки отличаются идеальной геометрией. При их укладке не возникает больших зазоров,
  которые надо заполнять большим количеством раствора, создавая мостики холода.
  Благодаря их правильным формам с ними просто работать, с меньшими затратами времени и
  с минимальным расходом раствора.
