- content_for :pro_name do 
  Не гниёт
- content_for :article do
  Цементное тесто может проникать в древесину на глубину 1-1,5 мм.
  Если использовать крупную древесную щепу то цемент минерализует ее только с поверхности не проникая глубоко.
  Если использовать мелкие щепки, толщина которых не превышает 2 мм то цемент проникает на всю глубину.
  В результате такой минерализации наш арболит не гниет.

