- content_for :pro_name do 
  Не даёт усадки
- content_for :article do
  Наш арболит не дает усадки. Производители арболита из крупной щепы сообщают что их арболит дает усадку.
  Это происходит от того что крупная щепа высыхая сильно меняет размеры. Поэтому дом построенный из такого арболита должен выстаиваться.
  Наш арболит сделан из мелкой щепы и абсолютно не меняет размеров. Для эксперимента, мы разламывали наш блок и одну часть
  на двое суток помещали в воду. Вторую часть оставляли сухой. Спустя двое суток вымоченный кусок совершенно сохранял размер
  и соединялся с сухим куском по линии разлома без изменений.

