- content_for :pro_name do 
  Прост в работе
- content_for :article do
  Благодаря отличной геометрии наши блоки точно подходят один к другому и не требуют выравнивания рядов за счет толщины швов.
  Их не надо сильно обмазывать раствором чтобы стена оставалась ровной.  Наши блоки можно укладывать даже на плиточный клей.
