- content_for :pro_name do 
  Очень прочный
- content_for :article do
  %p
    Наш арболит очень прочный. Древесина связанная с цементом создает материал с уникальными свойствами.
    Благодаря хаотичному расположению древесных щепочек арболит одинаково прочен во всех направлениях.
    Арболит хорошо выдерживает удары и не трескается. Прочность арболита во многом зависит от его плотности.
    Плотность зависит от количества цемента использованного для его производства.
  %p
    Мы не экономим на цементе и производим арболит марок D750, D850, D1100.

