- content_for :pro_name do 
  Влагостойкий
- content_for :article do
  Вообще арболит считается не влагостойким материалом.
  Это происходит от того что его основа древесина. Дерево набирая влагу расширяется,
  раширяясь оно разрывает цементные связи и блок теряет прочность.
  Но наш арболит сделан из мелких щепок которые полностью минерализованы цементом.
  В результате он не боится воды, он не меняет своих свойств даже если его на несколько дней поместить в воду.
