@import 'bootstrap_and_overrides';
@import 'landing.less';
@import 'pros.less';

#content{
  padding: @navbar-height 0 0 0;
  overflow: hidden;
  min-height: 83vh;
}

body>header{
  margin-bottom: 0 !important;
}

body>footer{
  background-image: image-url("bg-footer.png");
  background-repeat: repeat-x;
  min-height: 172px;
  margin: 0;
  padding-top: 60px;
  color: white;
  text-shadow: black 2px 2px 2px;
}

.navbar-brand{
  img{
    height: @navbar-height - @navbar-padding-vertical;
    margin-right: 1em;
    margin-top: -@navbar-padding-vertical/2;
    padding: 0;
  }
}
