%footer.container-fluid
  .row
    .col-lg-12
      %br/
      %br/
      %br/
      %br/
      %br/
      %p.text-center Производство и продажа  арболитовых   блоков  в России.
      %p.text-center info@ecoarbolit.com
      %p.text-center &copy; эко АРБОЛИТ 2016
