- content_for :content do
  .row
    .col-xs-12.text-center
      %h1 Статьи
  .row
    %aside.col-xs-4
      .col-xs-10.col-xs-offset-1
        %ul.nav.nav-stacked.nav-pills.text-center
          %li{class: ('active' if current_page?(stroitelstvo_iz_blokov_nesjomnoy_opalubki_i_sverckhprochnogo_arbolita_articles_path)) }
            %a(href=stroitelstvo_iz_blokov_nesjomnoy_opalubki_i_sverckhprochnogo_arbolita_articles_path) Строительство из блоков несъемной опалубки и сверхпрочного арболита
          %li{class: ('active' if current_page?(teploprovodnost_articles_path)) }
            %a(href=teploprovodnost_articles_path) Теплопроводность

    %section.col-xs-7
      %hgroup
        %h2= yield :article_name if content_for? :article_name
      %article= yield :article if content_for? :article

  %br/
  %br/

= render template: 'layouts/application'
